<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/main.js" defer></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/login" method="POST" name="myForm">
      <input type="text" name="input_key" value="<%= key %>" />
      <input type="text" name="input_otp" placeholder="123456" />
      <input type="button" onclick="login()" value="login" />
    </form>
    <button ty onclick="getotp()">getotp</button>
    <button ty onclick="genkey()">genkey</button>
    <p>F12 : Open dev console and check api results.</p>
    <div>
      <div id="time"></div>
    </div>
  </body>
</html>
